extends layouts/layout.pug

block variables
 - const title = 'Projects'

block content
  include components/header.pug
  section.projectspage
    .container
      h1.title #{project.title}
        span.title--black  
      img(src=project.imgUrl.mainImg, alt="").projectspage__main-img
      .row 
        .col-4
          img(src=project.imgUrl.otherImg[0], alt="")
        .col-8
          p.projectspage__description #{project.description}
      .row
        each img, index in project.imgUrl.otherImg
          img(src=img, alt="")
          
  include components/footer.pug